
body {
padding: 0;
margin: 0;
}

header {
	width: 100%;
	height: 60px;
	background: #E74C3C;
}
.header{
	width: 1080px;
	height: 60px;
	margin: 0 auto;
	
}

header .header .contact{
	float: left;
	margin: 16px 0 15px 0;
	color: #FFF8DC;
	
}
header .header .contact img{
	margin-bottom: -2px;
	margin-right: 8px;
}
header .header .contact a , header .header .contact span
{
	color: #FFF8DC;
	text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 12pt;
}
header .header .logo  ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}
.logo  ul  li{
	float: left;
}
.menu-item {
	display: inline-block;
	padding: 15px 22px;
	height: 15px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	font-family: 'Cairo', sans-serif;
	font-size: 15pt;

}


header .header .social-media ul{

	list-style: none;
}

header .header .social-media ul li{
	float: right;
	margin: 10px 7px 0 0;
}

header .header .contact a:hover,
header .header .contact span:hover, 
header .header .social-media ul li:hover{
opacity: .7;
transition: .5s all;
}

.content{
	width: 100px;
	margin: 0 auto;
}
.content .photo img{
	border: 5px solid #E74C3C;
	border-radius: 50%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	width: 400px;
	height: 400px;
	margin-top: 70px;
	float: right ;
}

.content .text h3{
	font-family: 'cairo';
	font-size: 45pt;
	color: #E74C3C;
	position: absolute;
	left: 700px;
	top: 60px;
}
.content .info p{
	float: left;
	width: 500px;
	position: relative;
	top: -250px;
	color:#566573; 
	font-family: 'cairo';
	font-size: 15pt;
	left: 150px;
}
.content .info p:first-letter{
	font-size: 20pt;
}
